<!-- <button (click)="loadCourses()">Load Courses</button> -->
<button class="btn btn-primary" (click)="onAdd()">Add a Course</button>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  <ul>
    <li *ngFor="let course of courses; index as i; even as isEven">
      {{ i }} - {{ course.name }} 
      <button class="btn btn-primary" (click)="onChange(course)">Remove</button> <span *ngIf="isEven">(EVEN)</span>
    </li>
  </ul>
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template>

<!-- or if you don't mind using more memory and having divs visible in dom -->
<!-- or if the div you are going to show/hide is large enough to be costly -->

<div [hidden]="courses.length == 0">
  List of courses with attribute binding
</div>
<div [hidden]="courses.length > 0">
  No courses yet 2
</div>

<!-- ngSwitchCase -->
<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>

<!-- switch cases should ideally have their own components or the html will look like ass -->